body {
    background-color: rgb(103, 131, 103);
    color: white;
    padding: 1%;   
    
}
#textoFoto {
    font-style: italic;    
}
/* h3 {
    background-color: #0a1f1f;
} */
#menuInicial {
    text-align: center;
    background-color: #0a1f1f;
    font-size: 2em;
    color:  white;
    padding: 10px;
}
a {
    
    color: rgb(97, 196, 226);
    text-decoration: none; 
    
}

#minhaFoto {
    float: left;
    padding: 15px;
    background-color: #0a1f1f;
}
.blocoFoto {
    height: 480px;        
}
.meuNome {
    text-align: center;
}

.descricao {
    position: relative;
    padding-left: 30%;
    padding-right: 10%;
    padding-top: 1%;
    text-align: justify; 
}

ul li:nth-of-type(odd) {
    font-weight: bold;
    text-decoration: underline;
}