* {
  padding: 0;
  margin: 0;
  border: 0;
  border-color: transparent;
  background-color: transparent;
  box-sizing: border-box;
}

:root {
  --ligth-regular-text-color: #0A1F1F;
  --ligth-regular-bg-color: white;
  --dark-regular-text-color: white;
  --dark-regular-bg-color: #0A1F1F;
}
