@tailwind base;
@tailwind components;
@tailwind utilities;
 

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --popover: 0 0% 100%;
    --primary: 191 45% 14%;
    --secondary: 191 45% 14%;
    --muted: 0 0% 95%;
    --accent: 191 45% 14%;
    --destructive: 0 84.2% 60.2%;
    --border: 191 45% 14%;
    --input: 191 45% 14%;
    --ring: 191 45% 14%;
    --radius: 0.5rem;
}

.dark {
    --background: 19 15% 4%;
    --foreground: 0 0% 95%;
    --card: 24 9.8% 10%;
    --popover: 0 0% 9%;
    --primary: 191 45% 14%;
    --secondary: 191 45% 14%;
    --muted: 0 0% 15%;
    --accent: 191 45% 14%;
    --destructive: 0 62.8% 30.6%;
    --border: 191 45% 14%;
    --input: 191 45% 14%;
    --ring: 191 45% 14%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}